.logo{
  height: 5.6vh;
  width: 3.2vw;
  margin: 20% 40%;
  justify-content: center;
  border-radius: 50%;
  background:none;
  opacity: 80%;
}
.header {
  position: static;
  display: flex;
  justify-content: space-between;
  padding-top: 9vh;
}
.header-left{
  font-size: larger;
  display: flex;
}
.datetime-img{
  background-color: transparent;
  background: none;
  border: none;
  box-shadow: 10px;
}
.datetime{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}
.datetime-img {
  height: 5vh; 
  width: 3vw; 
  margin: 1vw; 
  border-radius: 20%; 
}
.date{
  font-style: italic;
  color: rgba(235, 228, 228, 0.842);
}
.time{
  font-size: x-large;
  color: rgba(235, 228, 228, 0.842);
  font-weight: bold;
  
}
.header-right{
  font-size: larger;
  display:flex;
}
.title-forecast{
  font-size: medium;
  text-transform: uppercase;
  color: white;
  margin: auto;
  padding-left: 2%;
  font-family:'Times New Roman', Times, serif ;
  word-spacing: 1vw;
}
.forecast-container{
  margin: 3% 0%;
}
.scrollable-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.w-time,.w-date{
  font-size: small;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}
.w-icon{
  width: 4vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  margin: auto;
}
.w-temp{
  font-size: small;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}
.location-img{
  height: 5vh; 
  width: 2.4vw;
  background-color: transparent;
  background: none;
  border-radius: 20%;
  box-shadow: 10px;
  justify-content: space-around;
  margin: 1vw 0.8vw;
  border-radius: 20%; 
}
.locationbody{
  height: 5vh; 
  width: 2.8vw;
  margin:0% 1% ;
  background-color: transparent;
  background: none;
  border-radius: 20%;
  box-shadow: 10px;
  justify-content: space-around;
}
.locate{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-around;
}
.india-text{
  color:  rgba(235, 228, 228, 0.842);
  font-style:oblique;
  font-weight:normal;
  font-size:1.2rem;
}
.search-input{
  height: 5vh;
  width: 48vw; 
  max-width: 100%;
  font-family:'Times New Roman', Times, serif;
  display: grid;
  font-size: 1rem;;
  border-radius: 0px 0px 16px 16px;
  appearance: none;
  opacity: 60%;
  box-shadow: 2px 8px rgba(240, 239, 239, 0.407);
  background-image: url('./assests/searchicon.png'); 
  background-repeat: no-repeat;
  background-position: right 3% center; 
  background-size: 6%; 
  transition: opacity 0.2s ease;
}

.search-input:hover{
  opacity: 80%;
}
.search-bar{
  justify-content:center;
  position: sticky;
  display: flex;
  margin-top: 4vh;

}
.search-icon {
  position: sticky;
  right: 1vw; 
  height: 4vh; 
  width: 4vw;  
  padding: 1%;
}
.logo-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 4vw;
  margin: 1% 0%;
}
.app{
  background-image: url("./assests/winters.jpg");
  background-size:cover;
  transition: background-image 0.2s ease-in-out;
  background-position: inherit;
}
.app-warm{
    background-image: url("./assests/summer.jpg");
    background-size: cover;
    transition: background-image 0.2s ease-in-out;
    background-position: inherit; 

}
.app-rain{
    background-image: url("./assests/rainimage.jpg");
    background-size:cover;
    transition: background-image 0.2s ease-in-out;
    background-position: inherit; 
}
main{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.077), rgba(0, 0, 0, 0.75));
  border-radius: 40px;
  margin: 0 8%;
  max-width: 100%;
  max-height: 100%; 
  box-sizing: border-box; 
  height:max-content; 
  box-sizing: border-box;
  align-items: center;
}
.datewise-data{
  font-size: 0.9rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color:  rgba(235, 228, 228, 0.842);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.location{
  color: rgba(239, 230, 230, 0.963);
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-style:normal;
  font-weight:500;
  font-size: 2.8vw; 
  margin: 4% auto; 
}
.shimmer-container{
  display: 'flex'; 
  justify-content: 'center';
  align-items: 'center';
  height: 100vh;
  margin: 12% 48%;

}
.temp{
  color: rgba(235, 228, 228, 0.842);
  justify-content: center;
  position: relative;
  display: flex;
  margin: 0.8% 4%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 4rem; 
  padding: 1.2% 2%; 
}
.weather-container{
  height: 20vh;
  width: 12vw; 
  text-align: center;
  justify-content:space-around;
  position: relative;
  display: flex;
  flex-direction: column;
  margin:1% 0%;
  background-color: black;
  box-shadow: 4px 1px rgb(65, 63, 63);
  perspective: 1000px;
  padding: 1.2% 0%;
}
.linkedin{
  font-size: medium;
  font-style:italic ;
  color: #408eb3;
}
.last-section-header{
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  display: flex;
  text-align: center;
  width: 40vw;
}
.title{
  color:  rgba(235, 228, 228, 0.842);
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  padding: 8% 0%;

}
.weather-title{
  text-align: center;
  color:  rgba(235, 228, 228, 0.842);
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8rem;
}
.title-img{
  height: 5.6vh;
  width: 3.6vw;
  padding: 20% 16%;
  opacity:70%;

}
.weather-title-img{
  height: 11vh;
  width: 8vw;
  box-shadow: 10px;
  transition: transform 0.5s;
  position: relative;
  align-self: center;
  box-shadow: 2px 1px 6px rgb(173, 169, 169);

}
.last-section{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.parameter-data{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color:  rgba(235, 228, 228, 0.842);
  justify-content: center;
}
.parameter-container{
  justify-content: center;
}
.main-data{
  font-size: 1.4rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color:  rgba(235, 228, 228, 0.842);
  justify-content: center;
}
.main-box{
  display:flex;
  justify-content: space-evenly;
  margin: 2% ;
}
.other-parameters{
  margin: 2.8% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: 6vh;
}

.footer{
  display: flex;
  position:sticky;
  justify-content: center;
  text-align: center;
  /* margin: 0% 32%; */
  font-family:monospace;
  font-style: italic;
  background-color: #090000;
  max-width: 100%;
  margin: 0% 0%;
  box-shadow: 6px 6px rgba(128, 125, 125, 0.08);
}
.nav-items{
  display: flex;
  position:fixed;
  z-index: 1000;
  width: 100%;
  justify-content:space-between;
  font-family:monospace;
  font-style: italic;
  background-color: #090000;
  max-width: 100%;
  max-height: 100%;
  height: 8vh;
  margin: 0% 0%;
  box-shadow: 6px 6px rgba(128, 125, 125, 0.08);
}
.vertical-line {
  width: 0.1vw; 
  background-color: #cdc5c5df; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 1.2); 
  height: 12vh; 
  margin: 2.8% 6%; 
}
.error-text{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  color: #dad0d0;
  text-align: center;
  margin: 20% 0%;
  max-height: max-content;

}



/* Media queries */


@media only screen and (max-device-width: 480px) and (max-height: 950px) {
  .app{
    background-position:center;
    height: 140vh;
  }
  .app-warm{
    background-position:center;
    height: 140vh;
  }
  .app-rain{
    background-position:center;
    height: 140vh;
  }
  .sub-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:100vw;
  }
  .shimmer-container{ 
     text-align: center;
     flex-direction: column;
     height: 46vh;
     margin-top: 15%;

  }
  .nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size:1rem;
    font-style: bold;
    justify-content: flex-end;
    color: #FFF;
    margin: 4% 8%;
  }
  .nav-items > ul > li {
    display: flex;
    justify-content: flex-end;
    margin: 2% 6%;
  }
  .nav-items{
    height: 6vh;
  }
  .logo{
    height: 4vh;
    width: 8vw;
  }
  main {
    background-image: linear-gradient(to bottom, rgba(62, 60, 60, 0.077), rgba(0, 0, 0, 0.75));
    border-radius: 40px;
    width: 90%; 
    max-width: 100%;
    max-height: 80%;
    height: max-content;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 0%;
    box-sizing: border-box; 
    text-align: center;
  }
  .header {
    width: 80vw;
    width: 90%;  
  }
  .datetime-img {
    justify-content: space-around;
  }
  .datetime-img{
    width: 6.6vw;
    height: 5vh; 
  }
  .location-img{
    width: 6.6vw;
    height: 4vh; 
  }
  .date{
    font-size: 1rem;
  }
  .time{
    font-size: 1rem;
    display: flex;
  }
  .locate{
    font-size: 1rem;
  }
  .india-text{
    font-size: 1rem;
  }
  .search-bar {
    position: relative;
    top: 4vh; 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 4vh; 
    width: 58vw; 
    max-width: 90%; 
  }
  .search-input{
    height: 3.6vh;
    width: 58vw; 
    font-weight: bold;
    font-size: 0.92rem;;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px rgba(240, 239, 239, 0.407);
    background-size: 12%; 
    position: relative;
  } 
  .data{
    position: sticky;
  }
  .location{
    font-size: 1.6rem; 
    text-align: center;
    font-weight: 400;
    margin: 6% auto; 
  }
  .header {
    padding-top: 5vh;
  }
  .temp{
    margin: 4.8% 4%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 3.6rem; 
    text-decoration: none;
  }
  .main-box{
    justify-content:flex-start;
    gap: 3%;
    margin: 10% 2%;
    max-width: 100%;
    width: 88vw;
  }
  .weather-container{
    height: 15vh;
    width: 22vw; 
    margin:4% 0%;
    padding: 1.2% 0%;
  }
  .weather-title{
    font-size: 0.72rem;
  }
  .weather-title-img{
    height: 8vh;
    width: 14vw;
    box-shadow: 1px 0.8px 4px rgb(173, 169, 169);
    margin-top: 2%;
  }
  .main-data{
    font-size: 1rem;
  }
  .vertical-line {
    width: 0.2vw; 
    height: 10vh; 
  }
  .other-parameters{
    margin: 8% 0%;
    width: 36vw;
  }
  .last-section-header{
    justify-content: space-around;
    position: relative;
    align-items: self-end;
    width: 58vw;
    margin: 0% 5%;
  }
  .logo-container{
    width: 5vw;
  }
  .title{
    font-size: 0.84rem;
    column-gap: 2%;
  }
  .title-img{
  height: 4.4vh;
  width: 6.8vw;
  padding: 12%;
    opacity:70%;
  }
  .parameter-data{
    font-size: 0.8rem;
    text-decoration: none;
  }
  .main-header{
    display: flex;
    position:sticky;
    justify-content: center;
    text-align: center;
    font-family:monospace;
    font-style: italic;
    background-color: #e6dcdc54;
    max-width: 100%;
    margin: 0% 0%;
  }
  .linkedin{
    font-size: 0.6rem;
  }
  .main-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100vw;
    padding: 10% 0%;
  }
  .error-text{
    font-size: 1rem;
    margin: 46.8% 8%;
    max-height: 58vh;
  }
  .w-icon{
    width: 8vw;
    height: 5vh;
  }
  .title-forecast{
    font-size: small;
    word-spacing: 2vw;
  }
  .w-time{
    width: min-content;
  }
  .w-date{
    width: 8vw;
  }
  .locationbody{
    height: 2.8vh; 
    width: 5vw;
    margin: 0% 1.6%;
  }
}


@media only screen and (max-device-width: 400px) and (max-height: 900px){
  .w-date{
    width: 10vw;
  }
  .parameter-data{
    font-size: 0.7rem;
    text-decoration: none;
  }
  .locationbody{
    height: 3.2vh; 
    width: 7vw;
    margin: 0% 1.6%;
  }
  .main-box{
    justify-content:flex-start;
    gap: 3%;
    margin: 10% 2%;
    max-width: 100%;
    width: 88vw;
  }
}

@media only screen and (max-device-width:320px){
  .date{
    font-size: 0.8rem;
  }
  .time{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
  }
  .india-text{
    font-size: 0.8rem;
  }
}

@media only screen and (min-device-width:480px) and (max-device-width: 1024px){
    .logo{
      height: 4vh;
      width: 14vw;
    }
    .locationbody{
      height: 4vh; 
      width: 4vw;
      margin: 0% 1.6%;
    }
    .weather-container{
      width: 16vw;
    }
    .weather-title-img{
      width: 10vw;
    }
    .main-box{
      justify-content:flex-start;
      gap: 18%;
      margin: 6% 8%;
      max-width: 100%;
      width: 88vw;
    }
    .title-img{
      width: 6.0vw;
    }
    .parameter-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .w-icon{
      width: 5vw;
    }
    .search-input{
      height: 4vh;
    }
    .search-bar{
      margin-top: 5vh;
      margin-bottom: 4vh;
    }
    .location{
      font-size: 2rem;
      margin: 4% auto; 
    }
    .app{
      background-position:center;
      height: 150vh;
    }
    .app-rain{
      background-position:right;
      height: 150vh;
    }
    .app-warm{
      background-position:right;
      height: 150vh;
    }
    .datetime-img{
      width: 4vw;
      height: 5vh; 
    }
    .location-img{
      width: 3vw;
      height: 4vh; 
    }
    .date{
      font-size: 1rem;
    }
    .time{
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      
    }
    .locate{
      font-size: 2.4rem;
    }
    .india-text{
      font-size: 1rem;
    }
    .parameter-data{
      font-size: 0.8rem;
      text-decoration: none;
    }
}